@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

.swarco-slope {
  clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
}
